<!-- 00- Cabecera -->
<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"> 
      <img src="/src/assets/img/APLogo-20-20.png" alt="AP Logo" width="30%">
    </a>  
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
       <ul class="list-group list-group-horizontal">
        <li class="list-group-item redes"><a class="fa-brands fa-instagram fa-2xl" target="_blank" href="https://instagram.com/mchoaib"></a></li>
        <li class="list-group-item redes"><a class="fa-brands fa-twitter fa-2xl" target="_blank" href="https://twitter.com/mchoaib"></a></li>
        <li class="list-group-item redes"><a class="fa-brands fa-github fa-2xl" target="_blank" href="https://github.com/mchoaib"></a></li>
        <li class="list-group-item redes"><a class="fa-brands fa-linkedin fa-2xl" target="_blank" href="https://linkedin.com/in/mchoaibv"></a></li>
        <li class="list-group-item redes"><a class="fa-solid fa-envelope fa-2xl" target="_blank" href="mailto://"></a></li>
         <!-- Login --> 
        <li class="list-group-item redes">
           <i class="fa-solid fa-user-lock fa-2xl" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">    
           </i>
        </li>          
       </ul>
      </div>
    </div>
  </div>
</nav>
<!-- 01- Perfil + Acerca de... -->  
<div class="row">
  <div class="col-12">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/src/assets/img/01- Banner01.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/src/assets/img/02- Banner02.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="/src/assets/img/03- Banner03.png" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>
<section id="about_me" >
  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-4">
        <div class="ed-picperfil">
          <img src="/src/assets/img/perfil.png" class="picperfil rounded-circle" alt="foto perfil" title="pmacv perfil">
          </div>
        <div class="ed-nombrecargo">
          <h4 class="info">
            Mario Alejandro <b>CHOAIB</b> Velasco 
            <br>Full Stack Developer Jr.
          </h4>
        </div>
      </div>
      <div class="col-6">
        <div class="ed-about">
          <h4 class="acerca">
            ACERCA DE... </h4>
            <p>
            Mario Choaib Velasco es un apasionado de la informática desde los 12 años.<br> 
            Siempre tratando de encontrar nuevas formas de resolver problemas mediante <br>
            la programación y el uso posterior de los mismos en la aplicación. <br>
            Buscando nuevos retos, ha logrado mostrar su trabajo (en español o en inglés) <br>
            como una forma de educación.</p>
          </div> 
      </div>
      <div class="col-1"></div>
    </div>          
  </div>
</section> 
<!-- 02- Estudios -->
<section class="Estudios">
<div class="card mb-3" style="max-width: w-100;">
  <h2 class="titulo">Estudios</h2>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/src/assets/img/uns.png" class="est3 img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><b>Estudios universitarios (no completados)</b></h5>
        <p class="card-text">
          Primeros dos años de la "Licenciatura en Computación". En la actualidad, 
          estudiando "Profesorado en Matemáticas"</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/src/assets/img/EEM13 Nacional.png" class="est2 img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><b>Estudios secundarios (completos)</b></h5>
        <p class="card-text">
          Título: Perito Bachiller. 5 años</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
  <div class="row g-0">
    <div class="col-md-4">
      <img src="/src/assets/img/logo67.png" class="est1 img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><b>Estudios primarios (completos)</b></h5>
        <p class="card-text">7 años</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
</section>
<!-- 03- Experiencia -->
<section class="Experiencia">
<div class="card mb-3" style="max-width: w-100;">
<h2 class="titulo">Experiencia Laboral</h2>
<div class="row g-0">
  <div class="col-md-4">
    <img src="/src/assets/img/urbanaold.jpeg" class="est3 img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><b>Producción radial - Redes Sociales (Radio Urbana - Bahía Blanca)</b></h5>
      <p class="card-text">
          Armado diario (matutino) de sección noticias de programa en
          la primera mañana de la emisora. Publicación de notas y
          pauta de notas. Trato con gente para notas telefónicas.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="row g-0">
  <div class="col-md-4">
    <img src="/src/assets/img/banghó_old.jpg" class="est2 img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><b>Vendedor-Promotor Banghó (zona Bahía Blanca)</b></h5>
      <p class="card-text">
        Fui reclutado como promotor y vendedor de la empresa para
          Bahía Blanca por demostrar amplio conocimiento sobre los
          productos que vendiamos (computadoras y parte de las
          mismas), demostrando ademas, buen trato y llegada con la
          gente y sobre todo, con los compañeros. </p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
<div class="row g-0">
  <div class="col-md-4">
    <img src="/src/assets/img/circulo.jpg" class="est1 img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><b>Instalación y mantenimiento de software para PC</b></h5>
      <p class="card-text">Atención a clientes en negocio de informática en Bahía
        Blanca: recomendación , instalación y mantenimiento de
        software en sistemas informáticos.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
</div>
</section>
<!-- 04- Habilidades duras y blandas -->
<section class="Habilidades">
<div class="card mb-3" style="max-width: w-100;">
<h2 class="titulo">Habilidades duras y blandas</h2>
<div class="row 1">
  <div class="col-4">
    <!-- (A) DONUT CHART -->
    <div class="donut donut50">
      <div class="hole">
        <p class="porcentaje">50%</p>
      </div>
    </div>
    <!-- (B) LEGEND -->
    <div class="legend">
      Gestión de personas
    </div> 
  </div>
  <div class="col-4">
     <!-- (A) DONUT CHART -->
    <div class="donut donut100">
      <div class="hole">
        <p class="porcentaje">100%</p>
      </div>
    </div>
    <!-- (B) LEGEND -->
    <div class="legend">
      <b>Atención al Cliente</b>
    </div>
  </div>
  <div class="col-4">
     <!-- (A) DONUT CHART -->
    <div class="donut donut75">
      <div class="hole">
        <p class="porcentaje">75%</p>
      </div>
    </div>
    <!-- (B) LEGEND -->
    <div class="legend">
      Redacción
    </div>
  </div>
</div>
<div class="row 2">
  <div class="col-4">
    <!-- (A) DONUT CHART -->
    <div class="donut donut67">
      <div class="hole">
        <p class="porcentaje">67%</p>
      </div>
    </div>
    <!-- (B) LEGEND -->
    <div class="legend">
      <b>Productividad</b>
    </div>
  </div>
  <div class="col-4">
    <!-- (A) DONUT CHART -->
    <div class="donut donut67">
      <div class="hole">
        <p class="porcentaje">67%</p>
      </div>
    </div>
    <!-- (B) LEGEND -->
    <div class="legend">
      <b>Comunicación</b>
    </div>
  </div>
  <div class="col-4">
    <!-- (A) DONUT CHART -->
    <div class="donut donut50">
      <div class="hole">
        <p class="porcentaje">50%</p>
      </div>
    </div>
    <!-- (B) LEGEND -->
    <div class="legend">
      Traducción
    </div> 
  </div>
</div>
</div>
</section>
<!-- 05- Trabajos hechos -->
<section class="Trabajos">
<div class="card mb-3" style="max-width: w-100;">
<h2 class="titulo">Trabajos hechos</h2>
<div class="row g-0">
  <div class="col-md-4">
    <img src="/src/assets/img/Muestra portfolio.png" class="est3 img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><b>Porfolio Personal </b>(30-Agosto-2022)</h5>
      <p class="card-text">
        Este es mi portfolio personal donde muestro un poco sobre quien soy,
        mis estudios, mis habilidades y mis proyectos personales.</p>
      <p class="card-text"><small class="text-muted"><a href="https://mariochoaib.ar">Enlace al proyecto</a></small></p>
    </div>
  </div>
</div>
<div class="row g-0">
  <div class="col-md-4">
    <img src="/src/assets/img/TiendaNube.png" class="est2 img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><b>Tienda Nube </b>(10-Agosto-2022)</h5>
      <p class="card-text">
        Este es el sitio web institucional de Tiendanube, una de las mejores plataformas de e-commerce en Latinoamérica. 
        Como podés observar, contiene tanto información sobre lo que ofrece y los beneficios de su servicio, 
        como de la marca, quiénes conforman el equipo y datos de prensa. </p>
      <p class="card-text"><small class="text-muted"><a href="https://tiendanube.com">Enlace al proyecto</a></small></p>
    </div>
  </div>
</div>
<div class="row g-0">
  <div class="col-md-4">
    <img src="/src/assets/img/balcon.png" class="est1 img-fluid rounded-start" alt="...">
  </div>
  <div class="col-md-8">
    <div class="card-body">
      <h5 class="card-title"><b>Balcón </b>(15-Jul-2022)</h5>
      <p class="card-text">Balcón se dedica a vender plantas y macetas a través de su propio sitio web. 
        Pero hay mucho más: utilizan su tienda online para proveer de mucha más información a los usuarios y 
        ofrecer una experiencia de compra integral.</p>
      <p class="card-text"><small class="text-muted"><a href="https://balcon.com.ar">Enlace al proyecto</a></small></p>
    </div>
  </div>
</div>
</div>
</section>
<!-- 06- Pie de página -->
<section class="Pie">
<div class="card mb-3" style="max-width: w-100;">
<h4 class="titulo">Porfolio realizado por <i>pMACV 2022-2023 ©</i></h4>
</div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>